@import "tailwindcss";
@import "@nuxt/ui";

/* scroll-bar */
*::-webkit-scrollbar {
  width: 11px;
  @apply bg-gray-200 dark:bg-gray-950
}

*::-webkit-scrollbar-thumb {
  @apply bg-primary-300 dark:bg-primary-500 rounded-[25px] px-[1px];
}

*::-webkit-scrollbar-thumb:active {
  @apply cursor-grabbing;
}

*::-webkit-scrollbar-thumb:hover {
  @apply bg-primary-400;
}

/* smooth font */
* {
  @apply antialiased;
}

/* classes */
.center {
  height: 300vh;
  @apply w-full max-w-[1280px] pt-0 pb-0 pl-[4%] pr-[4%] m-auto mt-0;
}

/* reset */

html {
  @apply scroll-smooth h-full;
}

body {
  @apply h-full;
}

h1 {
  @apply text-6xl font-medium;
}
h2 {
  @apply text-5xl font-medium;
}
h3 {
  @apply text-4xl font-medium;
}
h4 {
  @apply text-3xl font-medium;
}
h5{
  @apply text-2xl font-medium;
}
h6 {
  @apply text-xl font-medium;
}

a{
  transition: color 0.2s;
  @apply text-primary-500 hover:text-primary-700 dark:hover:text-primary-600 dark:text-primary-400;
}

label{
  @apply w-full;
}